* {
    box-sizing: border-box;

}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

.content {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    width: 100%;

}

.centered {
    text-align: center;
}

.center-horizontal {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.common {
    display: inline-block;
    padding: 5px;

}

/*-----------Header-------------*/

.headerContainer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.alert-banner {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.banner {
    display: none;
    width: 100%;
}

.logo {
    margin: auto;
    display:none;
    text-align: right;
    width: 40%;
}

.logo img {
    width: 60%;
    height: auto;
}

.banner {
    display: inline-block;
}

.banner img {
    width: 100.1%;
    height: auto;
}

/*-------------------- Login Page --------------------*/

.loginForm {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.loginForm input {
    margin: 5px auto;

}

input , select {
    min-width: 165px;
}

.required {
    color: red;
}

.success {
    color: green;
    text-align: center;
    padding-left: 20px;
    
}

.error {
    color: red;
    text-align: center;
    padding-left: 20px;
}

/*-------------------- My Profile Page --------------------*/

.accountDetails {
    width: 100%;
    display:inline-block;
    text-align: left;
}

.accountDetails input, select {
    margin: 4px 0;
}

.changePassword {
    width: 100%;
    display:inline-block;
    text-align: left;
}

.changePassword input {
    margin: 4px 0;
}

/*---------- Enrol Page ---------------*/

.enrolPage {
    font-size: 1.6em;
}

/*--------------- Contact Page ------------*/

.contactDetails {
    display: inline-block;
    border-left:none;
    vertical-align: top;
}

.contactUs {
    text-align: center;
    margin: 0 auto;

}

.contactMap {
    display: inline-block;
    height: auto;
    position: relative;
    overflow:hidden;
    display:block;
}

#gmap_canvas {
    height: 215px;
    display:block;
}

/*----------------- FOOTER ------------ */

.footer {
    background-color:  lightgray;
    margin-top: 5px;
    padding: 2%;
    border-radius: 1em;
}

.socialMediaIcons {
    display: inline-block;
    width: 70%;
    padding: 0% 1% 5% 1% ;
}

.socialMediaIcons img {
    width: 5%;
    margin: 0 1%;
}

.footerContent {
    text-align: right;
    display: inline-block;
    padding-right: 5px;
}

/*--------------------ADMIN CENTER--------------------*/

.AdminCenterImage {
    width: 40%;
}

.button {
    padding: 4px;
}

/*----------------- Breadcrumb -----------------*/

.breadcrumb {
    text-align: left;
}

/*-------------------- TABLES --------------------*/

table th {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 4px 30px 4px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    min-width: 25px;
}

table tr:nth-child(odd) td {
    background-color: #f2f2f2  ;
}

table a{
    display:block;
    text-decoration:none;
    color: black;
}

/*-------------------- Teachers Page --------------------*/

.teacherPage {
    display: inline-table;
    border-right: 1px solid black;
    border-left: 1px solid black;
    vertical-align: top;
    width: 30%;
}

/*-------------------- Checklist for Enrolment Page --------------------*/

.enrolmentChecklist {
    margin-top: 2%;
    margin-left: 40%;
    font-size: 1.8em;
    width:90%;
    display: inline-block;
}

.enrolmentChecklist img {
    display: inline-block;
    width: 10%;
}

.enrolmentChecklistText {
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;
    vertical-align: top;
}

.enrolButtonContainer {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
  display: inline-block;
  width:100%;
}

.enrolButton {
  width: 40%;
  margin: auto;
  display: inline-block;
}

.enrolButtonSquare {
  width: 100%;
    height:0;
	padding-bottom: 50%;
	border:10px solid #e4d0ea;
  overflow:hidden;
  background: #771d57;
}

.enrolButtonSquare:hover {
	background:#ab1f7a;
}

.enrolButton a {
  display: block;
	width:100%;
	padding-top:20%;
	text-align:center;
	color:#e2eaf3;
  font-family:Verdana;
  font-size:2.4em;
  font-weight:bold;
  text-decoration:none;
}

.about_icon {
  width:28px;
  height:auto;
}

.mail_icon {
  width:30px;
  height:auto;
}

.centerTable {
  margin: 0 auto;
  text-align:center;
}

.reviewTableIcon {
  height:12px;
  width:auto;
  padding-right:5px;
}

/*-------------------- Testimonial Pages --------------------*/

.starRatingOverflow {
  overflow:hidden;
  width:120px;
}

.starImage {
  width:120px;
  height:auto;
}

/*-------------------- Review Lesson Pages --------------------*/

.reviewLessonForm {
  width:65%;
  display:inline-block;
  vertical-align:top;
}

.lessonReviewInfoBox {
  margin-left:5%;
  width:25%;
  display:inline-block;
  border:1px solid;
  border-radius:5px;
  text-align:center;
  padding-bottom:20px;
}

/*------------------FAQ-------------------*/

.faq_post {
    background: #F6F5F2;
    border: 1px solid #eeebe6;
    margin: 0 0 30px 0;
}

.faq_post h2 {
    letter-spacing: 1px;
  margin-bottom: 5px;
}

.faq_images.right {
    width: 40%;
    display: inline-block;
}

.faq_copy.left {
    width: 59%;
    display: inline-block;
    vertical-align: top;
}

.faq_copy .padding {
    padding: 20px 20px 20px 20px;
}

.faq_title {
    color: #232323;
    text-transform: uppercase;
    font-size: 1.7em;
}

.faq_copy a {
    text-decoration: none;
}

.faq_readmore {
    text-decoration: underline !important;
    color:#d2138e;
    font-size: 1.2em;
}

@media screen and (min-width:700px) {

    .logo {
        display: inline-block;
        width: 25%;
    }

    .banner {
        display: inline-block;
    }

    .logo {
    margin: 0 auto;
    display: inline-block;
    width: 40%;
    text-align: left;
    }

    .logo img {
        width: 60%;
        height: auto;
    }

    .loggedInMenu {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .accountDetails {
        width: 40%;
        padding-right: 50px;
        margin: 0 auto;
    }

    .changePassword {
        width: 30%;
        vertical-align: top;
    }

    .contactDetails {
        border-left: solid;
        padding-left:40px;
    }
}

@media screen and (min-width:1000px) {
    .container {
        width: 80%;
        max-width: 1000px;
    }
}
