* {
    box-sizing: border-box;

}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

input[type=button], input[type=submit], input[type=reset] {
	background-color: aliceblue;
}

.container {
    width: 100%;
    padding: 1%;
    margin: 0 auto;
}

.content {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    width: 100%;
    
}
.centered {
    text-align: center;

}
.headercontainer {
    width: 99%;
    display: inline-block;
}

.banner {
    display: none;
    width: 100%;
}


.logo {
    margin: auto;
    display:none;
    text-align: right;
    width: 40%;
}

.logo img {
    width: 60%;
    height: auto;
}

.banner {
    display: inline-block;
}

.banner img {
    width: 100.1%;
    height: auto;
}



.userPanel {
    display: inline-block;
    font-size: 1.4em;
    width:90%;
}

.userPanelImage {

    display: inline-block;
}
.userPanelImage img {
    width: 100%;
    max-width: 48px;
    height: auto;
}

.userInfo {
    display: inline-block;
    vertical-align: top;
    margin-top: 1%;
    padding: 10px;
}
.userInfo a:link {
  color:#000000;
}
.userInfo a:visited {
  color:#000000;
}
.userInfo a:hover {
  color:#771d57;
}
.userInfo a:active {
  color:#861e50;
}

.userCenter {
    display: none;
    text-align: center;
}

.userMessage {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

/*-------------------- Login Page --------------------*/

.loginForm {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 40%;
}

.loginForm input {
    margin: 5px auto;

}
input , select {
    min-width: 165px;
}
.inputStreet {
    max-width: 30px;
    min-width: 20px;
}
.center-horizontal {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.required {
    color: red;
}

.success {
    color: green;
    text-align: center;
    padding-left: 20px;
    float: right; 
}

.error {
    color: red;
    text-align: center;
    padding-left: 20px;
}
.loginError {
    font-size: 1.4em;
}

/*-------------------- My Profile Page --------------------*/

.accountDetails {
    width: 100%;
    display:inline-block;
    text-align: left;
}

.changePassword {
    width: 100%;
    display:inline-block;
    text-align: left;
}
.createAccount {

}
.createAccount input {
    margin: 4px 0;
}
.changePassword input {
    margin: 4px 0;
}
.accountDetails input, select {
    margin: 4px 0;
}
.hiddenLarge {
    position: absolute;
    top:20px;
}
.enrolPage {
    font-size: 1.6em;
}

.fieldSetCentered {
    text-align: center;
}

/*********Contact Page *****************/

.contactDetails {
    display: inline-block;
    border-left:none;
    vertical-align: top;
}
.contactUs {
    text-align: center;
    margin: 0 auto;

}
.contactMap {
    display: inline-block;
    height: auto;
    position: relative;
    overflow:hidden;
    display:block;
}
#gmap_canvas {
    height: 215px;
    display:block;
}

/*----------------- NAV BAR ------------ */

.navbar ul li:hover {
    background: lightgray;
}

/*----------------- FOOTER ------------ */
.footer {
    background-color:  lightgray;
    margin-top: 5px;
    padding: 2%;
    border-radius: 1em;
}
.socialMediaIcons img {
    max-width: 36px;
    margin: 0 1%;
}

/*------------- Home page icons--------------*/
.homepage-icons {
    display: inline-block;
    font-size: 200%;
    text-align: center;
}

.homepage-icons img{
    margin: 0 auto;
    height: auto;
    width: auto;
    padding: auto;
}

/*--------------------ADMIN CENTER--------------------*/

.adminCenter {
    text-align: center;
}

.temp {
    display: inline-block;
    padding: 5px;

}

.AdminCenterButton {
    width: 55%;
}

.reviewButton {
  width: 80%;
}

.AdminCenterImage {
    width: 40%;
}

.button {
    padding: 4px;
}


/*-------------------- TABLES --------------------*/
table th {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 4px 30px 4px 8px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
    min-width: 25px;
}

table tr:nth-child(odd) td {
    background-color: #f2f2f2  ;
}

table a{
    display:block;
    text-decoration:none;
    color: black;
}

.changeAccess{
    color: red;
}

.changeAuth {
    text-align: center;
}

/*-------------------- Teachers Page --------------------*/
.teacherPage {
    display: inline-table;
    border-right: 1px solid black;
    border-left: 1px solid black;
    vertical-align: top;
    width: 30%;
}
/*-------------------- Checklist for Enrolment Page --------------------*/
.enrolmentChecklist {
    margin-top: 2%;
    margin-left: 40%;
    font-size: 1.8em;
    width:90%;
    display: inline-block;
}
.enrolmentChecklist img {
    display: inline-block;
    width: 10%;
}
.enrolmentChecklistText {
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;
    vertical-align: top;
}

.enrolButtonContainer {
  padding-top: 10%;
  padding-bottom: 10%;
  margin: auto;
  text-align: center;
  display: inline-block;
  width:100%;
}
.enrolButton {
  width: 40%;
  margin: auto;
  display: inline-block;
}
.enrolButtonSquare {
  width: 100%;
	height:0;
	padding-bottom: 50%;
	border:10px solid #e4d0ea;
  overflow:hidden;
  background: #771d57;
}
.enrolButtonSquare:hover {
	background:#ab1f7a;
}
.enrolButton a {
  display: block;
	width:100%;
	padding-top:20%;
	text-align:center;
	color:#e2eaf3;
  font-family:Verdana;
  font-size:2.4em;
  font-weight:bold;
  text-decoration:none;
}

.adminClass {
    display: inline-block;
    width: 100%;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    border-left: none;
    border-bottom: 1px dotted grey;

}

.about_icon {
  width:28px;
  height:auto;
}

.mail_icon {
  width:30px;
  height:auto;
}

.centerTable {
  margin: 0 auto;
  text-align:center;
}

.reviewTableIcon {
  height:12px;
  width:auto;
  padding-right:5px;
}
/*-------------------- Testimonial Pages --------------------*/
.starRatingOverflow {
  overflow:hidden;
  width:120px;
}
.starImage {
  width:120px;
  height:auto;
}

/*-------------------- Review Lesson Pages --------------------*/
.reviewLessonForm {
  width:65%;
  display:inline-block;
  vertical-align:top;
}

.lessonReviewInfoBox {
  margin-left:5%;
  width:25%;
  display:inline-block;
  border:1px solid;
  border-radius:5px;
  text-align:center;
  padding-bottom:20px;
}

@media screen and (min-width:700px) {
    .container {
        width: 99%;
    }
    .logo {
        display: inline-block;
        width: 25%;
    }
    .banner {
        display: inline-block;
    }
    .logo {
    margin: 0 auto;
    display: inline-block;
    width: 40%;
    text-align: left;
    }

    .logo img {
        width: 60%;
        height: auto;
    }
    .userPanel {
        width:35%;
    }

    .loggedInMenu {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .loggedInMenu li {
        text-align: center;
        border: 1px solid #000;
        margin: 2px auto;
        width: 90%;
        border-radius: 7px;
    }
    .loggedInMenu li a {
        display: block;
        text-decoration: none;
        font-size: 1.5em;
        color: #000;
        padding: 5px;
    }

    .accountDetails {
        width: 40%;
        padding-right: 50px;
        margin: 0 auto;
    }

    .changePassword {
        width: 30%;
        vertical-align: top;
    }

    .contactDetails {
        border-left: solid;
        padding-left:40px;
    }
    .adminClass {
    display: inline-block;
    width: 33%;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-left: 1px solid grey;
    border-bottom: none;

}

@media screen and (min-width:1000px) {
    .container {
        width: 80%;
        max-width: 1000px;
    }
}
